## Assignment 24 feb 2023

**Q1)** List any five functions of the pandas library with execution.?

**Solution** Sure, here are 5 functions of the pandas library with execution:

In [ ]:
import pandas as pd
df = pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv')
df

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870
...,...,...,...,...,...,...,...,...,...
95,96,0a0bfFbBbB8eC7c,Holmes Group,https://mcdowell.org/,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
96,97,BA6Cd9Dae2Efd62,Good Ltd,http://duffy.com/,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
97,98,E7df80C60Abd7f9,Clements-Espinoza,http://www.flowers.net/,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
98,99,AFc285dbE2fEd24,Mendez Inc,https://www.burke.net/,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
99,100,e9eB5A60Cef8354,Watkins-Kaiser,http://www.herring.com/,Togo,Synergistic background access,2009,Financial Services,2785

**1. head()**

In [ ]:
import pandas as pd

df = pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv')

df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870



2. **tail()**

In [ ]:
import pandas as pd

df = pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv')

df.tail()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
95,96,0a0bfFbBbB8eC7c,Holmes Group,https://mcdowell.org/,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
96,97,BA6Cd9Dae2Efd62,Good Ltd,http://duffy.com/,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
97,98,E7df80C60Abd7f9,Clements-Espinoza,http://www.flowers.net/,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
98,99,AFc285dbE2fEd24,Mendez Inc,https://www.burke.net/,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
99,100,e9eB5A60Cef8354,Watkins-Kaiser,http://www.herring.com/,Togo,Synergistic background access,2009,Financial Services,2785

3. **describe()**

In [ ]:
import pandas as pd

df = pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv')

df.describe()

            Index      Founded  Number of employees
count  100.000000   100.000000           100.000000
mean    50.500000  1995.410000          4964.860000
std     29.011492    15.744228          2850.859799
min      1.000000  1970.000000           236.000000
25%     25.750000  1983.500000          2741.250000
50%     50.500000  1995.000000          4941.500000
75%     75.250000  2010.250000          7558.000000
max    100.000000  2021.000000          9995.000000

4. **value_counts()**

In [ ]:
import pandas as pd

df = pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv')

df['Founded'].value_counts()

2012    5
1991    5
1972    5
2021    4
1986    4
2014    3
1999    3
1976    3
1988    3
1993    3
1990    3
1997    3
1996    3
1970    3
2009    3
1971    3
2017    3
1973    2
1978    2
2016    2
1987    2
1989    2
2006    2
1981    2
1980    2
2001    2
2002    2
1998    2
2013    2
2018    2
2020    2
2015    1
2000    1
2004    1
1982    1
1992    1
2005    1
2008    1
2010    1
1974    1
1984    1
2011    1
1994    1
1975    1
Name: Founded, dtype: int64


5. **isnull()**

In [ ]:
import pandas as pd

df = pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv')

print(df['Founded'].isnull())

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Founded, Length: 100, dtype: bool

**Q2.**Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

**Solution**

In [ ]:
import pandas as pd
def reindexDF(df):
  new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)
  df = df.set_index(new_index)
  return df

df = pd.DataFrame ({'a':[1,2,3], 'b':[4,5,6], 'c':[7,8,9]})
print("original DataFrame")
print(df)

print("Updated dataFrame")
df = reindexDF(df)
print(df)

original DataFrame
   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9
Updated dataFrame
   a  b  c
1  1  4  7
3  2  5  8
5  3  6  9

**Q2)** You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

**Solution**

In [ ]:
def sum_of_values(df):
    valueColumns = df['value']
    sum = valueColumns.head(3).sum()
    return sum

df = pd.DataFrame({'value':[10, 20, 30, 40, 50]})
ans = sum_of_values(df)
print("The sum of the value is ", ans)

The sum of the value is  60

**Q4)** Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

**Solution**

In [ ]:
import pandas as pd
def word_count(df):
    df['Word_count'] = df['text'].apply(lambda text: len(text.split()))
    return df

df = pd.DataFrame({'text':['Given a Pandas DataFrame','DataFrame df with a column','write a Python function to create']})
df = word_count(df)
print(df)

                                text  Word_count
0           Given a Pandas DataFrame           4
1         DataFrame df with a column           5
2  write a Python function to create           6

**Q5** How are DataFrame.size() and DataFrame.shape() different?

**Solution**

**DataFrame.size()** returns teh total number of element in the DataFrame, includeing both rows and columns.

**DataFrame.shape()** retrun a tuple of two number represent the number if the rows and columns in DataFarme.
```
Example
DataFrame of 3 rows and 4 columns then
DataFrame.size() ---> 12
DataFrame.shape()---> (3,4)
```

**Q6)** Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

df = pd.read_excel('data.xls')
df

     0 First Name   Last Name  Gender        Country  Age        Date    Id
0    1      Dulce       Abril  Female  United States   32  15/10/2017  1562
1    2       Mara   Hashimoto  Female  Great Britain   25  16/08/2016  1582
2    3     Philip        Gent    Male         France   36  21/05/2015  2587
3    4   Kathleen      Hanner  Female  United States   25  15/10/2017  3549
4    5    Nereida     Magwood  Female  United States   58  16/08/2016  2468
5    6     Gaston       Brumm    Male  United States   24  21/05/2015  2554
6    7       Etta        Hurn  Female  Great Britain   56  15/10/2017  3598
7    8    Earlean      Melgar  Female  United States   27  16/08/2016  2456
8    9   Vincenza     Weiland  Female  United States   40  21/05/2015  6548
9   10     Fallon     Winward  Female  Great Britain   28  16/08/2016  5486
10  11    Arcelia      Bouska  Female  Great Britain   39  21/05/2015  1258
11  12   Franklyn      Unknow    Male         France   38  15/10/2017  2579
12  13    Sherron    Ascencio  Female  Great Britain   32  16/08/2016  3256
13  14     Marcel   Zabriskie    Male  Great Britain   26  21/05/2015  2587
14  15       Kina    Hazelton  Female  Great Britain   31  16/08/2016  3259
15  16   Shavonne         Pia  Female         France   24  21/05/2015  1546
16  17     Shavon      Benito  Female         France   39  15/10/2017  3579
17  18   Lauralee     Perrine  Female  Great Britain   28  16/08/2016  6597
18  19     Loreta      Curren  Female         France   26  21/05/2015  9654
19  20     Teresa      Strawn  Female         France   46  21/05/2015  3569
20  21    Belinda     Partain  Female  United States   37  15/10/2017  2564
21  22      Holly        Eudy  Female  United States   52  16/08/2016  8561
22  23       Many      Cuccia  Female  Great Britain   46  21/05/2015  5489
23  24     Libbie       Dalby  Female         France   42  21/05/2015  5489
24  25     Lester     Prothro    Male         France   21  15/10/2017  6574
25  26     Marvel        Hail  Female  Great Britain   28  16/08/2016  5555
26  27    Angelyn        Vong  Female  United States   29  21/05/2015  6125
27  28  Francesca   Beaudreau  Female         France   23  15/10/2017  5412
28  29      Garth       Gangi    Male  United States   41  16/08/2016  3256
29  30      Carla    Trumbull  Female  Great Britain   28  21/05/2015  3264
30  31       Veta       Muntz  Female  Great Britain   37  15/10/2017  4569
31  32     Stasia      Becker  Female  Great Britain   34  16/08/2016  7521
32  33       Jona     Grindle  Female  Great Britain   26  21/05/2015  6458
33  34      Judie    Claywell  Female         France   35  16/08/2016  7569
34  35     Dewitt      Borger    Male  United States   36  21/05/2015  8514
35  36       Nena      Hacker  Female  United States   29  15/10/2017  8563
36  37     Kelsie     Wachtel  Female         France   27  16/08/2016  8642
37  38        Sau        Pfau  Female  United States   25  21/05/2015  9536
38  39    Shanice   Mccrystal  Female  United States   36  21/05/2015  2567
39  40      Chase      Karner    Male  United States   37  15/10/2017  2154
40  41     Tommie   Underdahl    Male  United States   26  16/08/2016  3265
41  42     Dorcas      Darity  Female  United States   37  21/05/2015  8765
42  43      Angel       Sanor    Male         France   24  15/10/2017  3259
43  44  Willodean        Harn  Female  United States   39  16/08/2016  3567
44  45     Weston     Martina    Male  United States   26  21/05/2015  6540
45  46       Roma  Lafollette  Female  United States   34  15/10/2017  2654
46  47     Felisa        Cail  Female  United States   28  16/08/2016  6525
47  48   Demetria       Abbey  Female  United States   32  21/05/2015  3265
48  49     Jeromy        Danz    Male  United States   39  15/10/2017  3265
49  50   Rasheeda      Alkire  Female  United States   29  16/08/2016  6125

**Q7**You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

**Solution**

In [ ]:
import pandas as pd

def username(df):
    df['Username'] = df['email'].str.split('@').str[0]
    return df

df = pd.DataFrame({'email':['john.doe@example.com']})
df = username(df)
print(df)

                  email  Username
0  john.doe@example.com  john.doe

**Q8** You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

  A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

In [ ]:
import pandas as pd

def select_row(df):
  selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
  return selected_rows
if __name__ == '__main__':
    df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
    ans = select_row(df)
    print(ans)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

**Q9**Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

**Solution**

In [ ]:
import pandas as pd

def calculation(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_deviation = df['Values'].std()
    return mean, median, std_deviation

df = pd.DataFrame({'Values' : [1,2,3,4,5,6,7,8,9,10]})
mean, median, std_deviation = calculation(df)
print("mean:",mean)
print("median:",median)
print("std_deviation:",std_deviation)

mean: 5.5
median: 5.5
std_deviation: 3.0276503540974917

**Q10** Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

**Solution**

In [ ]:
import pandas as pd

def moving_avg(df):

    df['Moving avg'] = df['Sales'].rolling(window = 7, min_periods = 1).mean()
    return df

df = pd.DataFrame({'Sales':[1,2,3,4,5,6,7], 'Data': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07'])})
df = moving_avg(df)
df

   Sales       Data  Moving avg
0      1 2023-01-01         1.0
1      2 2023-01-02         1.5
2      3 2023-01-03         2.0
3      4 2023-01-04         2.5
4      5 2023-01-05         3.0
5      6 2023-01-06         3.5
6      7 2023-01-07         4.0

**Q11** You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

**Solution**

In [ ]:
import pandas as pd

def day_weekday(df):
    df['WeekDay'] = df['Date'].dt.day_name()  # dt.day_name() gives weekdat name according to calender
    return df

df = pd.DataFrame({'Date':pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'])})
df = day_weekday(df)
df

        Date    WeekDay
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

**Q12** Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [2]:
import pandas as pd

def select_row(df, start_date, end_date):
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    filtered = df[mask]

    return filtered

df = pd.DataFrame({
  'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-31', '2023-02-01']),
  'Value': [1, 2, 3, 4]
})

filter = select_row(df,  '2023-01-01', '2023-01-31')
print(filter)

        Date  Value
0 2023-01-01      1
1 2023-01-02      2
2 2023-01-31      3

**Q13** To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

**Solution** The first and farmost library that use the basic function if pandas is **pandas** this can be done as fallows:
```
import pandas as pd
```

**Example**

In [4]:
import pandas as pd

df = pd.DataFrame({
  'Name': ['jane', 'rane', 'dan'],
  'Age': [30, 25, 40]
})

print(df)

   Name  Age
0  jane   30
1  rane   25
2   dan   40